.layui-footer{
    text-align: center;
    font-size: 12px;
}
i{
    padding-right: 5px;
}
.layui-icon-app{
    margin-left: 20px;
}
iframe{
    width: 100%;
    height: 100%;
}
.layui-body{
    overflow: hidden;
}
a{
    transition: none !important;
}
.info{
    height: 60px;
    line-height: 60px;
    text-align: center;
    user-select: none;
}
.layui-side-scroll .info{
    background-color:#393D49 ;
    border-bottom: 1px solid #23262e;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}
.text-avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    /* 文本内容在横向、纵向上都居中 */
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #009688;
    font-size: 20px;
    position: relative;
    top:4px;
    margin-right: 10px;
}